<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Encode Text to Unicode"
            extensions="properties"
            icon="icons/toc_leaftopic_obj.gif"
            contributorClass="multipagetestplugin.editors.MultiPageEditorContributor"
            class="multipagetestplugin.editors.MultiPageEditor"
            id="multipagetestplugin.editors.MultiPageEditor">
      </editor>
   </extension>

</plugin>
